<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>drops</title>
  </head>
  <body>
    <p>Signed in as <%= email %>.</p>
    <p><a href="/auth/logout">Sign out</a></p>
  </body>
</html>
